node_modules/
**/node_modules/
.next/
**/.next/
dist/
**/dist/
dist-standalone/
**/dist-standalone/
.turbo/
**/.turbo/
out/
**/out/
build/
**/build/
*.tsbuildinfo
.env
.env.*
coverage/
**/coverage/
.DS_Store
